<nav class="wiki-navbar navbar navbar-light navbar-expand-lg sticky-top pr-4">
  <div class="navbar-brand-container">
    <a class="navbar-brand" alt="Go to home page" data-prefix="" href="service.html">
      <img alt="Logo" data-alt-src="/files/service.png" src="/files/service.png">
    </a>
  
    <div id="navbar-dropdown">
      <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
  
    <div id="navbar-dropdown-content" class="hide">
      <div class="app-switcher">
  
        <a href="business-management.html" class="space-link">
          <img src="files/business-management.png" alt="Business Management logo">
          <span>Business Management</span>
        </a>
  
        <a href="ai-coworker.html" class="space-link">
          <img src="files/ai-coworker.png" alt="AI Coworker logo">
          <span>AI Coworker</span>
        </a>
  
        <a href="people.html" class="space-link">
          <img src="files/people.png" alt="People logo">
          <span>People</span>
        </a>
  
        <a href="sales.html" class="space-link">
          <img src="files/sales.png" alt="Sales logo">
          <span>Sales</span>
        </a>
  
        <a href="marketing.html" class="space-link">
          <img src="files/marketing.png" alt="Marketing logo">
          <span>Marketing</span>
        </a>
  
        <a href="finance.html" class="space-link">
          <img src="files/finance.png" alt="Finance logo">
          <span>Finance</span>
        </a>
  
        <a href="service.html" class="space-link">
          <img src="files/service.png" alt="Service logo">
          <span>Service</span>
        </a>
  
        <a href="projects.html" class="space-link">
          <img src="files/projects.png" alt="Projects logo">
          <span>Projects</span>
        </a>
  
        <a href="warehouse.html" class="space-link">
          <img src="files/warehouse.png" alt="Warehouse logo">
          <span>Warehouse</span>
        </a>
  
        <a href="assets.html" class="space-link">
          <img src="files/assets.png" alt="Assets logo">
          <span>Assets</span>
        </a>
  
        <a href="manufacturing.html" class="space-link">
          <img src="files/manufacturing.png" alt="Manufacturing logo">
          <span>Manufacturing</span>
        </a>
  
        <a href="quality.html" class="space-link">
          <img src="files/quality.png" alt="Quality logo">
          <span>Quality</span>
        </a>
  
        <a href="team.html" class="space-link">
          <img src="files/team.png" alt="Team logo">
          <span>Team</span>
        </a>
  
        <a href="education.html" class="space-link">
          <img src="files/education.png" alt="Education logo">
          <span>Education</span>
        </a>
  
        <a href="framework.html" class="space-link">
          <img src="files/framework.png" alt="Framework logo">
          <span>Framework</span>
        </a>
  
      </div>
    </div>
  </div>
  
  
    
    <div class="d-lg-none mobile-search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </div><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse wiki-navbar-container" id="navbarSupportedContent">
      
  
  <ul class="navbar-nav">
      
  <li class="nav-item search-item d-none d-lg-block">
    <div class="website-search doc-search" id="search-container">
      <button class="dropdown btn data-pill" id="dropdownMenuSearch">
        <div class="search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </div>
        <span class="text-muted">Search</span>
        <kbd>/</kbd>
      </button>
    </div>
  </li>
  
      
      
      
      <div class="d-block d-sm-none sm-sidebar">
            
  
  <div class="web-sidebar" data-name="wiki">
    <div class="sidebar-items"><ul class="list-unstyled sidebar-group-list" style="min-height: 20px">
    <li class="sidebar-group draggable" data-type="Wiki Sidebar" data-title="Get Started">
      <div class="sidebar-group-container collapsible">
        <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon rotate">
          <path d="M4 8.53967L4 3.46033C4 3.05582 4.45534 2.81874 4.78673 3.05071L8.41483 5.59038C8.69919 5.78943 8.69919 6.21057 8.41483 6.40962L4.78673 8.94929C4.45534 9.18126 4 8.94418 4 8.53967Z" fill="currentColor"></path>
        </svg>
        <span class="sidebar-group-title">Get Started</span>
        <span class="add-sidebar-page hide" data-group-name="Get Started" data-toggle="tooltip" data-placement="top" title="New Wiki Page in the group Get Started">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </div>
      <ul class="list-unstyled sidebar-group-item-list hidden" style="min-height: 20px">
        
  <li class="sidebar-item sidebar-group-item sidebar-item-active draggable" data-type="Wiki Page" data-name="1sucq3ulq7" data-title="Introduction" data-group-name="Get Started" data-route="wiki/introduction">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki.html">
        Introduction
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="r9usfjoldc" data-title="Install locally" data-group-name="Get Started" data-route="wiki/install-locally">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/install-locally.html">
        Install locally
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="rbdjsog8d1" data-title="Use on Frappe Cloud" data-group-name="Get Started" data-route="wiki/use-on-frappe-cloud">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/use-on-frappe-cloud.html">
        Use on Frappe Cloud
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
      </ul>
    </li><li class="sidebar-group draggable" data-type="Wiki Sidebar" data-title="Learn">
      <div class="sidebar-group-container collapsible">
        <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon ">
          <path d="M4 8.53967L4 3.46033C4 3.05582 4.45534 2.81874 4.78673 3.05071L8.41483 5.59038C8.69919 5.78943 8.69919 6.21057 8.41483 6.40962L4.78673 8.94929C4.45534 9.18126 4 8.94418 4 8.53967Z" fill="currentColor"></path>
        </svg>
        <span class="sidebar-group-title">Learn</span>
        <span class="add-sidebar-page hide" data-group-name="Learn" data-toggle="tooltip" data-placement="top" title="New Wiki Page in the group Learn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </div>
      <ul class="list-unstyled sidebar-group-item-list hidden" style="min-height: 20px">
        
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="rcj3aor3ii" data-title="New Wiki Page" data-group-name="Learn" data-route="wiki/new-wiki-page">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/new-wiki-page.html">
        New Wiki Page
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="rdtt5elh6j" data-title="Wiki Space" data-group-name="Learn" data-route="wiki/wiki-space">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/wiki-space.html">
        Wiki Space
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="rdlogvb251" data-title="New Wiki Group" data-group-name="Learn" data-route="wiki/new-wiki-group">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/new-wiki-group.html">
        New Wiki Group
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="re5s0rrirn" data-title="Check Page Revisions" data-group-name="Learn" data-route="wiki/check-page-revisions">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/check-page-revisions.html">
        Check Page Revisions
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="reeo87jju0" data-title="Approving Changes" data-group-name="Learn" data-route="wiki/approving-changes">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/approving-changes.html">
        Approving Changes
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="reuufv2ckg" data-title="Wiki Settings" data-group-name="Learn" data-route="wiki/wiki-settings">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/wiki-settings.html">
        Wiki Settings
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
      </ul>
    </li><li class="sidebar-group draggable" data-type="Wiki Sidebar" data-title="Guides">
      <div class="sidebar-group-container collapsible">
        <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon ">
          <path d="M4 8.53967L4 3.46033C4 3.05582 4.45534 2.81874 4.78673 3.05071L8.41483 5.59038C8.69919 5.78943 8.69919 6.21057 8.41483 6.40962L4.78673 8.94929C4.45534 9.18126 4 8.94418 4 8.53967Z" fill="currentColor"></path>
        </svg>
        <span class="sidebar-group-title">Guides</span>
        <span class="add-sidebar-page hide" data-group-name="Guides" data-toggle="tooltip" data-placement="top" title="New Wiki Page in the group Guides">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </div>
      <ul class="list-unstyled sidebar-group-item-list hidden" style="min-height: 20px">
        
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="rf666qm0o2" data-title="Wiki Migration Guide" data-group-name="Guides" data-route="wiki/wiki-migration-guide">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/wiki-migration-guide.html">
        Wiki Migration Guide
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
      </ul>
    </li><li class="sidebar-group draggable" data-type="Wiki Sidebar" data-title="Contribute">
      <div class="sidebar-group-container collapsible">
        <svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon ">
          <path d="M4 8.53967L4 3.46033C4 3.05582 4.45534 2.81874 4.78673 3.05071L8.41483 5.59038C8.69919 5.78943 8.69919 6.21057 8.41483 6.40962L4.78673 8.94929C4.45534 9.18126 4 8.94418 4 8.53967Z" fill="currentColor"></path>
        </svg>
        <span class="sidebar-group-title">Contribute</span>
        <span class="add-sidebar-page hide" data-group-name="Contribute" data-toggle="tooltip" data-placement="top" title="New Wiki Page in the group Contribute">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </span>
      </div>
      <ul class="list-unstyled sidebar-group-item-list hidden" style="min-height: 20px">
        
  <li class="sidebar-item sidebar-group-item draggable" data-type="Wiki Page" data-name="rfdcumr3ua" data-title="How to contribute" data-group-name="Contribute" data-route="wiki/how-to-contribute">
    <div>
      <a class="text-sm sidebar-group-item-title" href="wiki/how-to-contribute.html">
        How to contribute
      </a>
    </div><div class="text-muted hide remove-sidebar-item small">
        <span class="trash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </span>
      </div>
  </li>
  
      </ul>
    </li>
  </ul>
  <div class="d-none d-lg-block sidebar-options">
    <div class="sidebar-edit-mode-btn text-muted" data-toggle="tooltip" data-placement="top" title="Changes to sidebar will be automatically saved">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
        <path d="M12 20h9"></path>
        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
      </svg>
      <span class="small">Edit Sidebar</span>
    </div>
    <div class="add-sidebar-group text-muted hide">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
      <span class="small">Add Group</span>
    </div>
    <div class="sidebar-view-mode-btn text-muted hide">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sidebar">
        <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="9" y1="3" x2="9" y2="21"></line>
      </svg>
      <span class="small">View Sidebar</span>
    </div>
  </div></div>
  </div>
      </div>
      <div style="display: flex; align-items: center;">
          <div class="sun-moon-container">
              <svg class="feather feather-moon hide" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
              </svg>
              <svg class="feather feather-sun" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="12" r="5"></circle>
                  <line x1="12" y1="1" x2="12" y2="3"></line>
                  <line x1="12" y1="21" x2="12" y2="23"></line>
                  <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                  <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                  <line x1="1" y1="12" x2="3" y2="12"></line>
                  <line x1="21" y1="12" x2="23" y2="12"></line>
                  <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                  <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
              </svg>
          </div>
          <!-- post login tools -->
  
  
      
  
      
  
      </div>
  
  
  </ul>
    </div>
    <div class="form-group mb-0 hide" id="language-switcher">
      <select class="form-control"></select>
    </div>
  </nav>