<div class="wiki-content">
    <h2 id="what-is-wiki">What is Wiki?<a class="no-underline" href="#what-is-wiki" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.8em; height: 0.8em;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
          </a></h2>
    <p>Wiki is an open-source wiki management application built on the Frappe Framework. It's designed to handle dynamic, text-heavy content like documentation and knowledge bases. Think of it as a flexible content management system that allows for quick publishing of small changes and new pages without requiring deployments</p>
    <p><img alt="" class="screenshot" src="files/Screenshot 2025-03-13 at 4.57.34 PM.png"></p>
    <h2 id="why-wiki">Why Wiki?<a class="no-underline" href="#why-wiki" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.8em; height: 0.8em;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
          </a></h2>
    <p>Because managing knowledge shouldn't be complicated. Your wiki should be easy to use, flexible, and powerful.</p>
    <p>With Wiki, you get:</p>
    <ol>
    <li>An open-source solution that you can customize to your needs</li>
    <li>Built on the robust Frappe Framework, ensuring scalability and reliability</li>
    <li>No vendor lock-in - you own your data and have freedom to modify</li>
    </ol>
    <h2 id="key-features">Key Features<a class="no-underline" href="#key-features" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.8em; height: 0.8em;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
          </a></h2>
    <p>Wiki will help you to:</p>
    <ol>
    <li>Create and manage wiki pages</li>
    <li>Organize content with wiki spaces</li>
    <li>Set up controlled wiki updates with approval mechanisms</li>
    <li>Add attachments to pages</li>
    <li>Generate automatic table of contents</li>
    <li>Maintain version history of documents</li>
    <li>Use markdown format for content authoring</li>
    <li>Caching for fast load times</li>
    <li>Support custom scripts via wiki settings</li>
    <li>Edit dynamic sidebar through drag-and-drop</li>
    </ol>
    <h2 id="under-the-hood">Under the Hood<a class="no-underline" href="#under-the-hood" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.8em; height: 0.8em;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
          </a></h2>
    <p><a href="https://github.com/frappe/frappe"><strong>Frappe Framework</strong></a>: A full-stack web application framework written in Python and JavaScript. The framework provides a robust foundation for building web applications, including a database abstraction layer, user authentication, and a REST API.</p>
    <h2 id="installation">Installation<a class="no-underline" href="#installation" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.8em; height: 0.8em;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
          </a></h2>
    <p>To install/setup the app, follow the guidelines <a href="https://github.com/frappe/wiki?tab=readme-ov-file#local">here</a>.</p>
    <h2 id="learning-and-community">Learning and community<a class="no-underline" href="#learning-and-community" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.8em; height: 0.8em;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
          </a></h2>
    <ol>
    <li><a href="https://github.com/frappe/wiki">GitHub</a> - Contribute to Wiki and explore its open-source code, issues, and discussions</li>
    <li><a href="https://t.me/frappewiki">Telegram Group</a> - Get instant help from huge community of users</li>
    <li><a href="https://discuss.frappe.io/c/wiki/72">Discussion Forum</a> - Engage with community of Wiki users.</li>
    </ol>
    </div>